/* @import url(./300.css); */
@import url(./400.css);
@import url(./600.css);
@import url(./700.css);


:root {
  --chakra-fonts-heading: "Karla", sans-serif !important;
  --chakra-fonts-body: "Karla", sans-seri !important;
}
html {
  font-family: var(--chakra-fonts-body);
}
